<article class="article">
  <h2><%- page.title %></h2>
  <div class="meta"><%- date(page.date, 'YYYY-MM-DD') %> &mdash; <% if (page.author) { %><%- page.author %><% } else { %><%- config.author %><% } %></div>
  <div class="content e-content">
    <%- page.content %>
  </div>
</article>
